html{
    background-color:#fae8d9;
}

header{
    background-color: #fae8d9;
    color:grey;
    position: fixed;
    z-index: 10;
    width:100%;
}

.header-items{
    text-align: center;
}

.header-item{
    display: inline-block;
    cursor:pointer;
    padding: 20px 20px;
    border-radius: 7px;
}

.cover{
    background:url(./image/cover.png);
    background-size:cover;
    padding: 250px 0;
    color: grey;
}

.profile{
    background-color: #fae8d9;
    padding-top: 150px;
    padding-bottom:100px;
    color:grey;
}

.profile-title{
    padding-bottom:50px;
}

.profile-text{
    font-size:1.5em;
}

.profile-image{
    border-radius: 40px;
}

.skills{
    background-color: #fcdfc8;
    padding-top:150px;
    color:grey;
}

.skills-title{
    padding-bottom:50px;
}

.skills-item{
    background-color: #fae8d9;
    margin: 0px 30px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.language{
    padding:30px 0px;
    font-size: 20px;
}

img{
    max-width:100%;
}

.experience{
    margin:30px 30px;
    padding: 10px 0px;
    font-size:20px;
    /*background-color: #fff9f5;*/
    background-color: #fff5ec;
    border-radius: 20px;
}

.works{
    background-color: #fae8d9;
    color:grey;
    padding-top:150px;
}

.works-item{
    background-color: #fff5ec;
    margin: 0px 80px;
    padding: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.works-row{
    margin: 100px 0px 0px 0px;
    /*padding-bottom: 150px;*/
}

.works-title{
    background-color: #fae8d9;
}

.works-item-title{
    background-color: #fcdfc8;
    padding: 15px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px 0px 40px 0px;
}

.work-text{
    margin: 20px 100px;
}

.link{
    display: block;
    padding-bottom: 20px;
}

.contact{
    background-color: #fcdfc8;
    color: grey;
    padding-top: 150px;
    padding-bottom: 100px;
}

.contact-title{
    padding-bottom: 50px;
}

footer{
    background-color: #fcdfc8;
    padding-bottom: 40px;
    color: grey;
}

.bottom{
    padding-bottom: 150px;
}

.contact-item{
    cursor: pointer;
}