html{
    background-color:#fae8d9;
}

header{
    background-color: #fae8d9;
    padding-top:1em;
    padding-bottom:1em;
    color:grey;
}

.header-items{
    text-align: center;
}

.header-item{
    display: inline-block;
    margin-right:1em;
    cursor:pointer;
}

.cover{
    background:url(./image/cover.png);
    background-size:cover;
    padding: 220px 0;
    color: grey;
}

.profile{
    background-color: #fae8d9;
    padding-top: 150px;
}

.profile-image{
    /*float:left;*/
    margin-left: 50px;
    margin-right: 100px;
    max-width:100%;
}

.profile-content{
    padding-right:100px;
}

.profile-title{
    padding-bottom:50px;
}

.profile-text{
    font-size:1.5em;
}